<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/pika.svg" />
  </head>
  <body>
    <h1 class="mainTitle">Add new pokemon:</h1>
    <%- include("../partials/errors.ejs") %>
    <form class="newForm" action="/pokemons/new" method="post">
      <label for="name">Pokemon name:</label>
      <input name="name" id="name" type="text" />
      <label for="type_id">Select type:</label>
      <select name="type_id" id="type_id">
        <option value="">-</option>
        <% types.forEach((row) => { %>
        <option value="<%= row.id %>"><%= row.type %></option>
        <% }); %>
      </select>
      <label for="trainer_id">Select trainer:</label>
      <select name="trainer_id" id="trainer_id">
        <option value="">-</option>
        <% trainers.forEach((row) => { %>
        <option value="<%= row.id %>"><%= row.name %></option>
        <% }); %>
      </select>
      <button class="submitBtn" type="submit">Add pokemon</button>
    </form>
    <div class="pageActions">
      <a href="/pokemons"><button>&#8592; Back to previous page</button></a>
    </div>
  </body>
</html>
